[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.*"
django-widget-tweaks = "*"
markdown = "*"
python-decouple = "*"
dj-database-url = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
